* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
    font-family: 'Acme', Georgia, 'Geneva', sans-serif;
  }
  body
  {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80dvw;
    margin: 0px auto;
  }
  header
  {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #ffffff;
    width: 80dvw;
  }
  nav
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 60dvw;
    margin: 0px auto;
    padding: 2dvh 0;
  }

  .logo h3
  {
    font-size: 1dvw;
    font-weight: bold;
  }

  nav ul
  {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
  }

  nav li
  {
    margin-left: 2dvw;
  }
  nav a
  {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8dvw;
  }
  .info-header
  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80dvw;
    margin: 5dvh 0;
  }

  .info
  {
    display: flex;
    flex-flow: column nowrap;
    width: 20dvw;
    margin-left: 10dvw;
  }

  .info h2
  {
    font-size: 1.8dvw;
    margin: -1dvh 0 1dvh 0;
    font-weight: bolder;
  }

  .info p
  {
    font-size: 0.75dvw;
    line-height: 1dvw;
    margin: 1dvh 0;
  }

  .info input
  {
    width: 3.5dvw;
    background-color: #3882f6;
    color: #ffffff;
    margin: 1dvh 0;
    border-radius: 0.2dvw;
    border-style: none;
    padding: 0.3dvh 0;
  }

  .image-header
  {
    margin-right: 10dvw;
  }

  .image-header img
  {
    max-width: 20dvw;
    max-height: 20dvh;
    border-radius: 0.5dvw;
  }
  main
  {
    display: flex;
    flex-flow: column nowrap;
  }
  .section-one
  {
    width: 80dvw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2dvh;
  }
  .textos-imagenes
  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2dvh 0;
    gap: 5dvw;
    padding: 5dvh 0;
  }
  .section-one h3
  {
    color: #1f2937;
    font-size: 1.2dvw;
    margin: 5dvh 0 1dvh 0;
  }
  
  .text-img
  {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    width: 10dvw;
    text-align: center;
    font-size: 0.7dvw;
    color: #5a6677;
  }

  .text-img img
  {
    max-width: 15dvw;
    max-height: 15dvh;
    border-radius: 0.5dvw;
    margin-bottom: 2dvh;
  }
  .section-two
  {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80dvw;
    padding: 12dvh 25dvw;
  }
  .section-two p
  {
    font-size: 1.1dvw;
    text-align: justify;
    line-height: 1.6dvw;
  }

  footer
  {
    background-color: #ffffff;
  }
  .section-three
  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 10dvh 0;
    padding: 3dvh 2dvw;
    width: 60dvw;
    border-radius: 0.5dvw;
    gap: 8dvw;
  }
  
  .exit-section
  {
    flex-flow: column nowrap;
    color: #ffffff;
  }

.exit-section h4
{
  font-size: 1.2dvw;
  font-weight: bold;
}

.exit-section p
{
  font-size: 1dvw;
  font-style: italic;
}

  .section-three input
  {
    width: 4.5dvw;
    border: 0.1dvw solid #ffffff;
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 0.2dvw;
    
    text-align: center;
    font-size: 1dvw;
  }